/*Black Backgroun*/
body{
  background-color: black;
}
/*Grey Box*/
div.container{
  height: 800px;
  width: 475px;
  background-color: hsl(0, 0%, 8%);
  border-radius: 10px;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Image*/
div.container>section.PFP>img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-350%);
}
/*Name*/
.Strings>.Titles>#id01{
  color: white;
  position: fixed;
  font-family: "Inter", sans-serif;
  top:50%;
  left:50%;
  transform: translate(-50%, -800%);
}
/*Location*/
.Strings>.Titles>#id02{
  color: hsl(75, 94%, 57%);
  font-family: "Inter", sans-serif;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -875%);
}
/*Description*/
.Strings>.normalStrings>#Description{
  color: grey;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -725%);
}
/*Github Button*/
.Strings>.normalStrings>a>#GitHub{
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    height: 50px;
    width: 375px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: hsl(0, 0%, 20%);
    font-weight: 700;
}
/*Frontend Mentor Button*/
.Strings>.normalStrings>a>#frontendMentor{
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    height: 50px;
    width: 375px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, 100%);
    border-style: solid;
    border-color: hsl(0, 0%, 20%);
    font-weight: 700;
}
/*Linkedln Button*/
.Strings>.normalStrings>a>#Linkedln{
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    height: 50px;
    width: 375px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, 250%);
    border-style: solid;
    border-color: hsl(0, 0%, 20%);
    font-weight: 700;
}
/*Twitter Button*/
.Strings>.normalStrings>a>#Twitter{
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    height: 50px;
    width: 375px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, 400%);
    border-style: solid;
    border-color: hsl(0, 0%, 20%);
    font-weight: 700;
}
/*Instagram Button*/
.Strings>.normalStrings>a>#Instagram{
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    height: 50px;
    width: 375px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, 550%);
    border-style: solid;
    border-color: hsl(0, 0%, 20%);
    font-weight: 700;
}
button[id]:hover{
    transition-duration: 0.7s;
    background-color: hsl(75, 94%, 57%);
    border-color: hsl(75, 94%, 57%);
    color: black;
}